@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_BlankAdminLayout.cshtml";
}
<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>TechieRathore Login</h3>
                <small></small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="control-label" for="EmailID">Email</label>
                            <input type="text" placeholder="example@gmail.com" title="Please enter you email" required="" value="" name="EmailID" id="EmailID" class="form-control">
                            <span class="help-block small">Your unique username to app</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="LoginPassword">Password</label>
                            <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="LoginPassword" id="LoginPassword" class="form-control">
                            <span class="help-block small">Your strong password</span>
                        </div>
                        <div class="form-group">
                            <span>&nbsp;Verification Code</span>
                            <input type="text" id="txtCaptcha" class="input" style="text-align:center; border:none; font-weight:bold; font-family:Modern" />
                            <input type="button" id="btnrefresh" class="refresh" value="Refresh" onclick="DrawCaptcha();" />
                        </div>
                        <div class="form-group">
                                <span>&nbsp;Enter Verification Code</span>
                                <span><input type="text" class="input" id="txtInput" /> </span>
                        </div>
                        <button id="btnLogin" class="btn btn-success btn-block" onclick="return ValidateCaptca()">Login</button>
                        <a class="btn btn-default btn-block" href="@Url.Action("SignUp", "Account")">Register</a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            @if (ViewBag.ErrorMessage != null)
            {
                <h2>@ViewBag.ErrorMessage</h2>
            }
            @*<strong>HOMER</strong> - AngularJS Responsive WebApp <br /> 2015 Copyright Company Name*@
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
          window.onload = function () {
              DrawCaptcha();
          };
          //Created / Generates the captcha function    
          function DrawCaptcha() {
              var a = Math.ceil(Math.random() * 10) + '';
              var b = Math.ceil(Math.random() * 10) + '';
              var c = Math.ceil(Math.random() * 10) + '';
              var d = Math.ceil(Math.random() * 10) + '';
              var e = Math.ceil(Math.random() * 10) + '';
              var f = Math.ceil(Math.random() * 10) + '';
              var g = Math.ceil(Math.random() * 10) + '';
              var code = a + ' ' + b + ' ' + ' ' + c + ' ' + d + ' ' + e + ' ' + f + ' ' + g;
              document.getElementById("txtCaptcha").value = code
          }

          // Validate the Entered input aganist the generated security code function   
          function ValidateCaptca() {
              var str1 = removeSpaces(document.getElementById('txtCaptcha').value);
              var str2 = removeSpaces(document.getElementById('txtInput').value);
              if (str1 == str2) return true;
              alert('Enter correct Verification code');
              return false;

          }

          // Remove the spaces from the entered and generated code
          function removeSpaces(string) {
              return string.split(' ').join('');
          }
    </script>
}