@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_BlankAdminLayout.cshtml";
}
<div class="register-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>Registration</h3>
                <small>Full suported AngularJS WebApp/Admin template with very clean and aesthetic style prepared for your next app. </small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    @using (Html.BeginForm("SignUp", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label>First Name</label>
                            <input type="text" id="FirstName" name="FirstName" class="form-control">
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Last Name</label>
                            <input type="text" id="LastName" name="LastName" class="form-control">
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Email Address</label>
                            <input type="text" id="EmailID" name="EmailID" class="form-control">
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Password</label>
                            <input type="password" name="LoginPassword" id="LoginPassword" class="form-control">
                        </div>
                        <div class="form-group col-lg-6">
                            <span>&nbsp;Verification Code</span>
                            <input type="text" id="txtCaptcha" class="input" style="text-align:center; border:none; font-weight:bold; font-family:Modern" />
                            <input type="button" id="btnrefresh" class="refresh" value="Refresh" onclick="DrawCaptcha();" />
                        </div>
                        <div class="form-group col-lg-6">
                            <span>&nbsp;Enter Verification Code</span>
                            <span><input type="text" class="input" id="txtInput" /> </span>
                        </div>
                        <div class="form-group col-lg-12">

                        </div>
                    </div>
                        <div class="text-center">
                            <button class="btn btn-success" onclick="return ValidateCaptca()">Register</button>
                            <button class="btn btn-default">Cancel</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            Already Registred? <a href="@Url.Action("Login", "Account", new { Area = "Admin" })">LogIn here</a>
            @if (ViewBag.ErrorMessage != null)
            {
                <h2>@ViewBag.ErrorMessage</h2>
            }
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
          window.onload = function () {
              DrawCaptcha();
          };
          //Created / Generates the captcha function
          function DrawCaptcha() {
              var a = Math.ceil(Math.random() * 10) + '';
              var b = Math.ceil(Math.random() * 10) + '';
              var c = Math.ceil(Math.random() * 10) + '';
              var d = Math.ceil(Math.random() * 10) + '';
              var e = Math.ceil(Math.random() * 10) + '';
              var f = Math.ceil(Math.random() * 10) + '';
              var g = Math.ceil(Math.random() * 10) + '';
              var code = a + ' ' + b + ' ' + ' ' + c + ' ' + d + ' ' + e + ' ' + f + ' ' + g;
              document.getElementById("txtCaptcha").value = code
          }

          // Validate the Entered input aganist the generated security code function
          function ValidateCaptca() {
              var str1 = removeSpaces(document.getElementById('txtCaptcha').value);
              var str2 = removeSpaces(document.getElementById('txtInput').value);
              if (str1 == str2) return true;
              alert('Enter correct Verification code');
              return false;

          }

          // Remove the spaces from the entered and generated code
          function removeSpaces(string) {
              return string.split(' ').join('');
          }
    </script>
}
