
@{
    ViewBag.Title = "Podcast";
}
<section id="hero" class="light-typo">
    <div id="cover-image" class="image-podcastbg animated fadeIn"></div>
    <div class="container welcome-content">
        <div class="middle-text">
            <img class="btn-blog outline-white" src="~/BlogImages/FullLogo.png" />
            <h1>Podcast</h1>
        </div>
    </div>
</section>

<section id="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="active">Podcast</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<div class="container content">
    <div class="col-md-10 col-md-offset-1">
        <h1>Coming Soon</h1>
    </div>
</div>

