
@{
    ViewBag.Title = "New Post";
}
@section PageStyles {
    <link href="~/Content/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-tagsinput-typeahead.css" rel="stylesheet" />
    <link href="~/Scripts/ckeditor/plugins/codesnippet/lib/highlight/styles/school_book.css" rel="stylesheet" />
}

<!-- Main bar -->
<div class="mainbar">
    <!-- Matter -->
    <div class="matter">
        <div class="container">
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-12">
                    <div class="widget wblue">
                        <div class="widget-head">
                            <div class="pull-left">New Post</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="widget-content">
                            <div class="padd">
                                <!-- Form starts.  -->
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Image Uploader </label>
                                        <div class="col-md-8">
                                            <a href="#myModal" class="btn btn-info" data-toggle="modal"><i class="fa fa-image"></i>Upload Image</a>
                                            <!-- Modal -->
                                            <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                @Html.Action("UploadImage", "Image")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Featured Image </label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" placeholder="Enter Featured Image">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Title </label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" placeholder="Enter Title">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Content</label>
                                        <div class="col-md-8">
                                            <textarea class="ckeditor" rows="6" placeholder="Textarea"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Tags</label>
                                        <div class="col-md-8">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" id="inlineCheckbox1" value="option1"> ASP.Net
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" id="inlineCheckbox2" value="option2"> C#
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" id="inlineCheckbox3" value="option3"> Xamarin
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-8">
                                            <button class="btn btn-info"><i class="fa fa-save"></i> Save Draft</button>
                                            <button class="btn btn-success"><i class="fa fa-pencil-square"></i> Publish</button>
                                            <button class="btn btn-danger">Trash</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/ Matter ends -->
</div> <!--/ Mainbar ends -->

@section Scripts {
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
    <script src="~/Scripts/clipboard.min.js"></script>
    <script src="~/Scripts/imagehideblock.js"></script>
    <script src="~/scripts/bootstrap-tagsinput.js"></script>
    <script type="text/javascript">CKEDITOR.env.isCompatible = true;</script>
}